<div class="tag-box col-sm-6 col-md-4">
  <div class="content">
    <div class="title">
      {{$ctrl.tag.name}}
    </div>
    <div class="thing-list">
      <ul>
        <li ng-repeat="thing in $ctrl.things">{{thing.thing_name}}</li>
      </ul>
    </div>
    <div class="link-things" ng-if="$ctrl.linkableThings.length > 0">
      <form class="form-inline">
        <select class="" name="" ng-model="$ctrl.selectedThing">
          <option ng-repeat="option in $ctrl.linkableThings" ng-value="option.id">
            {{option.thing_name}}
          </option>
        </select>
        <button type="submit" class="btn btn-default" ng-click="$ctrl.addToCategory()">
          Add to this category
        </button>
      </form>
    </div>
    <div class="admin-zone" ng-if="$ctrl.authz.canCreate()">
      <form class="form-inline">
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 id="tag_name"
                 ng-model="$ctrl.newTagName"
                 name="tag_name"
                 placeholder="New category name"
                 required>
        </div>
        <button type="submit" class="btn btn-default" ng-click="$ctrl.update()">
          Change name
        </button>
        <button class="btn btn-danger" ng-click="$ctrl.remove()">
          Delete
        </button>
    </div>
  </div>
</div>
